# Ignore Episerver files
/CMSTraining/AlloyDemo/App_Data
/CMSTraining/AlloyDemo/modules
/CMSTraining/AlloyDemo/modulesbin
/CMSTraining/AlloyDemo/modulesrepository
/CMSTraining/AlloyDemo/modulesrepositorybin
/CMSTraining/AlloyDemo/modulesrepositorytemp
/CMSTraining/AlloyDemo/modulesrepositorytempbin

/CMSTraining/AlloyDemo/obj
/CMSTraining/AlloyDemo/bin
/CMSTraining/AlloyTraining/bin
/CMSTraining/AlloyTraining/obj
/CMSTraining/.vs
/CMSTraining/.vs
/CMSTraining/packages
/CMSTraining/AlloyDemo/obj
/CMSTraining/AlloyTraining/App_Data
/CMSTraining/AlloyDemo/obj
/logs
